html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Merriweather', serif;
  background-color: #282C34;
}

body {
  width: 600px;
	margin: 0 auto;
	background-color: #282C34;
	padding: 0 20px 20px 20px;
	border: 5px solid black;
}

h1 {
	margin: 0;
	padding: 20px 0;
	color: #D7DAE0;
	text-shadow: 3px 3px 1px black;
	text-align: center;
}

p, li, pre {
  font-size: 16px;
	color: #D7DAE0; 
  line-height: 2;
  letter-spacing: 1px;
	text-align: center;
}

img {
	display: block;
	margin: 0 auto;
}
